
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  color: var(--secondary-color);
  background: var(--primary-color);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden; 
}


header {
  text-align: center;
  padding: 4rem;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.cont {
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #fa3636;
  overflow: hidden;
  margin: 0 auto 2rem;
}


.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 30%;
}


.name h1 {
  font-size: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
}


.white-text {
  color: var(--secondary-color);
  font-weight: 500;
  text-align: center;
}


.red-text {
  color: #fa3636;
}


#contact-links {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
}


#contact-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  padding-left: 3rem;
  cursor: pointer;
}


#contact-links a i {
  font-size: 2rem;
  color: var(--secondary-color);
  padding-right: 3rem;
  cursor: pointer;
  position: relative;
}


#contact-links a:hover {
  transform: scale(1.2);
}


@media screen and (max-width: 600px) {

  .name h1 {
    font-size: 2rem;
  }


  .profile-pic {
    width: 200px;
    height: 200px;
  }


  .profile-pic img {
    padding-bottom: 0;
  }
}


.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
}


.footer p {
  font-size: 15px;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}


.footer p::before {
  content: "\00a9 ";
}


.footer p span {
  font-weight: bold;
}


.credits {
  text-align: center;
  padding-top: 0.7rem;
}


.gablink {
  text-decoration: none;
  color: #fa3636;
  background-color: var(--primary-color);
  position: relative;
}


.shat {
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: underline;
  font-size: 22px;
}


#shatterdome-team {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 4rem;
}


.team-list {
  list-style: none;
  padding: 0;
  text-decoration: none;
}


.team-list li {
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: none;
}


.shatter {
  text-decoration: underline;
}


#myButton {
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: #fa3636;
  transition: transform 2ms; 
  margin: 0 auto;
  position: relative;
}


#myButton:hover {
  transform: scale(1.2); 
}


:root {
  --primary-color: linear-gradient(45deg, #444, #222);
  --secondary-color: #fff;
}


.light-theme {
  --primary-color: #C8C8C8;
  --secondary-color: #000000;
}


#instagram i:hover {
  color: #bc2a8d;
}


#discord i:hover {
  color: #3b5998;
}


.align-items-center {
  align-items: center!important;
  color: #fa3636;
  text-decoration: none;
  padding-top: 1rem;
}


.justify-content-center {
  justify-content: center!important;
  color: #fa3636;
  position: relative;
}


.d-flex {
  display: flex!important;
  position: relative;
}


nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}


label #icon {
  position: relative;
  width: 2.3rem;
  cursor: pointer;
  padding-left: 3vh;
}


nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}


nav ul li {
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  line-height: 10px;
}


nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}


.active, .ah a:hover, .ahs a:hover {
  color: #fa3636;
  transition: 0.5s;
}


nav .menu-btn i {
  color: #fa3636;
  font-size: 22px;
  cursor: pointer;
  display: none;
}


.ahs {
  text-decoration: none;
  justify-content: space-between;
  cursor: pointer;
}


input[type="checkbox"] {
  display: none;
}


@media (max-width: 920px) {
  nav {
    padding: 0 40px 0 50px;
  }

  nav .menu-btn i {
    display: block;
  }

  label #icon {
    width: 2rem;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: absolute;
    top: 100px;
    left: -100%;
    background: #111;
    height: calc(100vh - 100px);
    width: 100%;
    text-align: center;
    display: block;
    transition: left 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
  }

  #click:checked ~ ul li a {
    margin-left: 0;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #fa3636;
  }
}


#canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: auto;
  padding: 0;
  margin: 0;
}


canvas {
  width: 0;
  height: 0;
}


#particles-js {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  position: fixed;
}


.madegab {
  height: 50px;
  width: 50px;
}

.fa-house, .fa-address-card, .fa-user-group, .fa-id-badge, .fa-bars {
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 920px) {
  .card{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
}

.main{

  margin: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }
 
 .card{
      width: 20%;
      display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 10px; 
      margin: 2%;
      position: relative;

     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title{
  
   text-align: center;
   padding: 10px;
   
  }
 
 h1{
   font-size: 20px;
  }
 
 .des{
   padding: 3px;
   text-align: center;
  
   padding-top: 10px;
         border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }
 .image1{
  width: 240px;
  height: 160px;
  padding: 0 0 0 0 

 }
 .image2{
  padding-top: 5px;
 }
 .ets2h1{
  padding-top: 20px;
 }
.image3{
  height: 160px;
}

.image4{
  height: 160px;
  padding-left: 50px;
}
#games{
  text-align: left;
  color: var(--secondary-color);
  padding-top: 30px;
  padding-bottom: 30px;

}
.card:hover{
  background-color: rgb(62, 62, 62);
  transition: .5s;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

@media (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.title{
  color: var(--secondary-color);
 text-decoration: none;
}
.zion{
font-weight: 1000;
font-style: italic , bold;
background: linear-gradient(to top, red, rgb(214, 117, 117));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}