body {
  margin: 1;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  color: var(--secondary-color);
background: var(--primary-color);
  background-size: 100%;
  background-repeat: no-repeat;
  
}

header {
  text-align: center;
  padding: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.cont{
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #fa3636;
  overflow: hidden;
  margin: 0 auto 2rem;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 30%;
}

.name h1 {
  font-size: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 0%;
  position: relative;
  display: inline-block;
}



.white-text {
  color: var(--secondary-color);
  font-weight: 500;
  text-align: center;
}

.red-text{
color: #fa3636;

}

#contact-links {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
}

#contact-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  padding-left: 3rem;
  cursor: pointer;
}

#contact-links a i {
  font-size: 2rem;
  color: var(--secondary-color);
  padding-right: 3rem;
  cursor: pointer;
  position: relative;
}
#contact-links a:hover {
  transform: scale(1.2);
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 600px) {
  .name h1 {
    font-size: 2rem;
  }
}

/* Add this CSS to your existing stylesheet or create a new one */

.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
}

.footer p {
  font-size: 15px;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}

.footer p::before {
  content: "\00a9 "; /* Insert copyright symbol */
}

.footer p span {
  font-weight: bold;
}

.credits{
  text-align: center;
  padding-top: 0.7rem;
}

.gablink{
  text-decoration: none;
  color: #fa3636;
  background-color: var(--primary-color);
  position: relative;
}
.shat{
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: underline;
  font-size: 22px;
  
}

#shatterdome-team {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 4rem;
}

.team-list {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.team-list li {
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: none;
}
.shatter{
  text-decoration: underline;
}

#myButton {
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: #fa3636;
}

#myButton{
  transition: transform 2ms; /* Animation */
  margin: 0 auto;
  position: relative;
}

#myButton:hover {
  transform: scale(5.6); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  position: relative;
}


:root{
  --primary-color: linear-gradient(45deg, #444, #222);
  --secondary-color: #fff
}

.light-theme{
  --primary-color: #C8C8C8;
  --secondary-color: #000000;
}

#instagram i:hover{
  color: #bc2a8d;
  position: relative;
  }
  
  
  #discord i:hover {
    color: #3b5998;
    }

  .align-items-center {
      align-items: center!important;
      color: #fa3636;
      text-decoration: none;
      padding-top: 1rem;
  }
  .justify-content-center {
      justify-content: center!important;
      color: #fa3636;
      position: relative;
  }
  .d-flex {
      display: flex!important;
      position: relative;
      
  }

  

  /*#fa3636       blue    #4682b4*/
/*
  .head{
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    padding-top: 3vh;
    
  }

  .head #icon{
    position: relative;
    width: 2.3rem;
    cursor: pointer;
    padding-left: 3vh;
  }

  .head .navbar a {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-left: 2rem;
    text-decoration: none;
  }
  .navbar {
    padding-right: 9vh;
  }

  .head .navbar a:hover {
    color: #fa3636;
  }
  .toggle-btn{
    position: relative;
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
    display: none;
  }

  @media (max-width: 992px){
    .head{
      padding: 0 5%;
    }
  }

  @media (max-width: 768px) {
    .toggle-btn{
      display: block;
    }

    .toggle-btn.active::before{
      content: '\f00d';
    }

    .head .navbar {
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #454545;
      padding: 0 5%;
      transform: scaleY(0);
      transition: 0.8s;
      transform-origin: top;
      overflow: hidden;
    }
    
    .head .navbar.active {
      transform: scaleY(1);
    }
    
    .head .navbar a {
      display: block;
      margin: 1.5rem 0;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.5s, transform 0.5s;
      transition-delay: calc(0.1s * var(--i));
    }
    
    .head .navbar.active a {
      opacity: 1;
      transform: translateY(0);
    }
  }  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


 
nav{
  display: flex;
  height: 100px;

  align-items: center;
  justify-content: space-between;
padding-top: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}
label #icon{
  position: relative;
  width: 2.3rem;
  cursor: pointer;
  padding-left: 3vh;


}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
}
nav ul li{
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  line-height: 10px;
}
nav ul li a{
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}
  .active, .ah a:hover{
    color: #fa3636;
    transition: .5s;
  }
  .ahs a:hover{
    color: #fa3636;
    transition: .5s;
  }
nav .menu-btn i{
  color: #fa3636;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.ahs{
  text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  label #icon{
    width: 2rem;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: absolute;
    top: 100px;
    left: -115%;
    background: #111;
    height: 100vh;
    width: 95%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    overflow: hidden;
    
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
  }
  #click:checked ~ ul li a{
    margin-left: -0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #fa3636;
  }
  .profile-pic {
    width: 285px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #fa3636;
    overflow: hidden;

  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 30%;
  }
}


#canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: auto;
  padding: 0;
  margin: 0;
}
canvas{
  width: 0;
  height: 0;
}
#particles-js{
	width: 100%;
	height: 100%;
	background-repeat: repeat;
  position: fixed;
}
.madegab{
    height: 50px;
    width: 50px;
}

.fa-house{
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}
.fa-address-card{
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}

.fa-user-group{
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}
.fa-id-badge{
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}
.fa-bars{
  position: relative;
}









@media (max-width: 920px) {
  .card{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
}

.main{

  margin: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }
 
 .card{
      width: 20%;
      display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 10px; 
      margin: 2%;
      position: relative;

     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title{
  
   text-align: center;
   padding: 10px;
   
  }
 
 h1{
   font-size: 20px;
  }
 
 .des{
   padding: 3px;
   text-align: center;
  
   padding-top: 10px;
         border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }
 .image1{
  width: 240px;
  height: 160px;

 }
 .image2{
  padding-top: 5px;
 }
 .ets2h1{
  padding-top: 20px;
 }
.image3{
  height: 160px;
}

.image4{
  height: 160px;
  padding-left: 50px;
}
#games{
  text-align: left;
  color: var(--secondary-color);
  padding-top: 30px;
  padding-bottom: 30px;

}
.card:hover{
  background-color: rgb(62, 62, 62);
  transition: .5s;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.03);
}

@media (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}